@import "bourbon";
@import "vars.scss";

@media (min-width: 768px) and (max-width: 991px){
  h2{
    font-size: 28px;
    line-height: 34px;
    br{
      display: none;
    }
  }
  #sec_02{
    .first_title{margin-top: 0;}
    padding-bottom: 100px;
    .sec_img-1{
      width: 100%;
    }
  }
  #sec_03{
    padding: 120px 0;
    br{display: none;}
    .item{
      padding-left: 60px;
      .img_wrap{
        width: 50px;
        height: 50px;
        svg{width: 28px;}
      }
    }
  }
  #sec_04{
    padding: 100px 0;
    background-image: none;
    h2{margin-top: 0;}
    .sec_img{width: 100%;}
    .col-6{width: 100%;}
    .col-6+.col-6{display: none}
  }
  #sec_05{
    br{display: none;}
  }
  .coach_item{
    padding-top: 30px;
    min-height: 220px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 130px;
    .coach_img{
      left: 30px;
    }
    .coach_more{
      width: 220px;
      margin-left: 130px;
      padding-right: 20px;
      .btn{
        width: 100%;
      }
    }
  }
  #sec_07{
    .slide_block{
      display: block;
      margin: 0 auto !important;
    }
  }
  #sec_08{
    .text_afterheader{ br { display: none}}
  }
  #sec_09{
    h2{ br { display: none}}
  }
  #sec_10{
    padding: 100px 0;
  }
  .course{
    padding: 25px 10px 1px;
    .course_list{
      li:before{
        width: 100px;
        margin-left: -50px;
        bottom: -10px;
      }
      li+li{
        margin-top: 20px;
      }
    }
    .btn{
      width: 120px;
    }
  }
  #sec_11{
    padding: 100px 0;
    [class*='col-']{width: 50%;}
    h2{margin-top: 0;}
    .sec_img{
      position: static;
      width: 100%;
      margin-top: 30px;
    }
  }
  #footer{
    .footer_text {
      font-size: 13px;
      br{display: none;}
    }
  }
  footer{
    .politics a{
      font-size: 13px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  #sec_02{
    padding-bottom: 100px;
    .sec_img-1{
      width: 100%;
    }
  }
  #sec_03{
    padding: 120px 0;
    br{display: none;}
  }
  #sec_04{
    .sec_img{width: 100%;}
  }
  #sec_05{
    br{display: none;}
  }
  .coach_item{
    padding-top: 40px;
    .coach_more{
      width: 290px;
    }
  }
  #sec_07{
    .slide_block{
      display: block;
      margin: 0 auto !important;
    }
  }
  #sec_08{
    .text_afterheader{ br { display: none}}
  }
  #sec_09{
    h2{ br { display: none}}
  }
  #sec_11{
    .sec_img{
      width: 400px;
    }
  }
}

@media screen and (max-height: 800px){
  .md_large .md_content {max-height: 320px;}
}

@media (max-width: 767px) {
  [class*='col-']{width: 100%;}
  h2{
    font-size: 28px;
    line-height: 34px;
    br{
      display: none;
    }
  }
  [id*='sec_']{ padding: 100px 0 !important;}
  .arrow-right:before{display: none;}
  #sec_02{
    .first_title{margin-top: 0;}
    padding-bottom: 100px;
    .sec_img-1{
      display: none;
    }
    .item{
      margin-top: 40px;
    }
  }
  #sec_03{
    br{display: none;}
    .item{
      max-width: 400px;
      margin: 20px auto;
    }
    .item_row + .item_row {
        margin-top: 0px;
    }
  }
  #sec_04{
    background-image: none;
    h2{margin-top: 0;}
    .sec_img{display: none}
  }
  #sec_05{
    br{display: none;}
  }
  .coach_item{
    padding-top: 30px;
    min-height: 170px;
    padding-bottom: 40px;
    padding-right: 30px;
    padding-left: 130px;
    max-width: 555px;
    margin: 30px auto 0;
    .coach_img{
      left: 30px;
      top: 30px;
    }
    .coach_more{
      width: 100%;
      margin-left: 0px;
      padding: 30px;
      text-align: center;
      align-items: center;
      .btn{
        width: 100%;
        max-width: 220px;
      }
    }
  }
  #sec_06{
    br{display: block;}
    h2{margin-bottom: 30px;}
  }
  #sec_08{
    .col-6{
      padding-top: 0;
      padding-bottom: 0;
      background: none;
    }
    .arrow{background-image: none;}
    .item{
      margin: 0 auto;
    }
  }
  #sec_07{
    .slide_block{
      display: block;
      margin: 0 auto !important;
    }
  }
  #sec_08{
    .text_afterheader{ br { display: none}}
  }
  #sec_09{
    h2{ br { display: none}}
    text-align: center;
    .wrapper{
      margin: 0 auto 50px;
    }
  }
  #sec_10{
    padding: 100px 0;
    .text_info{
      margin-top: 0;
    }
  }
  .course{
    max-width: 300px;
    width: 100%;
    margin: 0 auto 80px;
  }
  #sec_11{
    padding: 100px 0;
    text-align: center;
    h2{margin-top: 0;}
    .sec_img{
      display: none;
    }
    .form_item{
      margin-top: 40px;
    }
  }
  #footer{
    padding: 80px 0;
    .desctop{
      display: none;
    }
    .mobile{
      display: block;
    }
    .mobile+.mobile{
      margin-top: 80px;
    }
    [class*='col-']{
      width: 50%;
    }
    .footer_text {
      font-size: 13px;
      br{display: none;}
    }
  }
  footer{
    text-align: center;
    .politics{
      a{
         font-size: 14px;
         display: block;
         text-align: center;
       }
     a+a{margin-left: 0 }
    }
    .logo_rezart{
      display: inline-block;
      float: none;
      margin-top: 20px;
    }
  }
  div[id*="modal_coach-"]{
    min-width: 600px;
  }
  div[id*="modal_callback"]{
    min-width: 500px;
    .md-content{
      padding: 35px;
      background: #fff;
    }
    h2{
      margin: 30px 0;
      line-height: 34px;
    }
    form {
      display: block;
      max-width: 390px;
      margin: 0 auto;
      width: 100%;
    }
    .field{
      max-width: 360px;
      width: 100%;
    }
    .field+.field {
     margin-top: 15px
    }
    .btn{
      margin: 25px auto 0;
    }
  }
  div[id*='modal_politics']{
    h2{padding-top: 70px;}
    .btn_close_modal{
      top: 20px;
    }
  }
}


@media (max-width: 620px) {
  div[id*="modal_callback"], div[id*="modal_coach-"]{
    min-width: 400px;
  }
  #sec_07{
    [class*='slider_img-']{
      display: block;
      margin: 0 auto !important;
      float: none !important;
      max-width: 90%;
    }
    .slider{
      display: none;
    }
    .slider_mobile{
      display: block;
      a{
        display: block;
      }
    }
    .youtube{
      width: 90%;
      float: none;
      height: 260px;
      margin: 0 auto;
    }
    iframe{
      display: block;
      margin: 0 auto;
    }
    .slick-next, .slick-prev{
      top: -40px;
    }
  }
}


@media (max-width: 400px) {
  div[id*="modal_callback"], div[id*="modal_coach-"]{
    min-width: 100%;
  }
  #footer{
    text-align: center;
    padding: 60px 0;
    .desctop{
      display: block;
    }
    .mobile{
      display: none;
    }
    [class*='col-']{
      width: 100%;
      margin-top: 50px;
    }
    .link_block{
      display: inline-block;
      margin: 0px 40px 20px;
    }
    .footer_text {
      br{display: none;}
    }
  }
}