@import "bourbon";

$main_text_color: #909090;
$main_title_color: #222;
$main_color : #005aff;
$second_color: #ffec3d;

$main_font: 'Geometria', sans-serif;
$main_font_bold: 'Geometria', sans-serif;

$title_font: 'GothamPro-Bold', sans-serif;
$title_font_light: 'GothamPro', sans-serif;