@import "bourbon";
@import "vars.scss";

body {
	position: relative;
	font: 18px/24px $main_font;
	color: $main_text_color;
	background-color: #fff;
}

body.unscroll{
	overflow: hidden;
}

.md-modal.md-show{
    opacity: 1;
  }
.md-modal{
    opacity: 0;
  }

.hidden{
    height: 0;
    width: 0;
}
.bar-long {
	height: 5px;
	width: 0;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	background: $main_color;
}

.btn{
	width:300px;
	height: 60px;
	background-color: $main_color;

	color: #000;
	font: 20px $main_font;
	text-transform: uppercase;
}

.btn:hover{
	background-color: $second_color;
}

.btn:active{
	background-color: #edcc00;
}
