body {
  position: relative;
  font: 16px/21px "Geometria", sans-serif;
  color: #909090;
  background-color: #fff; }

body.unscroll {
  overflow: hidden; }

.text--title {
  font-family: "GothamPro-Bold", sans-serif;
  color: #222; }

.text--bold {
  font-family: "Geometria-Bold", sans-serif;
  color: #222; }

.text--blue {
  color: #005aff; }

h2 {
  font-size: 36px;
  line-height: 38px; }

.title {
  font-size: 18px;
  line-height: 24px; }

.separator {
  margin-top: 25px; }

.arrow-right {
  position: relative;
  z-index: 2; }
  .arrow-right:before {
    content: "";
    position: absolute;
    width: 261px;
    height: 374px;
    top: 50%;
    margin-top: -187px;
    right: -80px;
    background: url(../img/sec_02-dots.png) no-repeat; }

.md-modal.md-show {
  opacity: 1; }

.md-modal {
  opacity: 0; }

.hidden {
  height: 0;
  width: 0; }

button.btn span {
  display: inline-block;
  margin-top: 2px; }

.btn {
  position: relative;
  -webkit-box-shadow: 0 9px 27px rgba(0, 0, 0, 0.32);
  box-shadow: 0 9px 27px rgba(0, 0, 0, 0.32);
  -webkit-border-radius: 19px;
  border-radius: 19px;
  background-color: #005aff;
  height: 40px;
  color: #fff;
  font: 14px "GothamPro-Bold", sans-serif;
  text-align: center;
  letter-spacing: .05em; }
  .btn:before {
    content: "";
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-border-radius: 19px;
    border-radius: 19px;
    background: url(../img/);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#005aff), to(#0052e8));
    background-image: -webkit-linear-gradient(bottom, #005aff 0%, #0052e8 100%);
    background-image: linear-gradient(to top, #005aff 0%, #0052e8 100%);
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s; }
  .btn:hover {
    -webkit-box-shadow: 0 9px 27px rgba(0, 0, 0, 0.13);
    box-shadow: 0 9px 27px rgba(0, 0, 0, 0.13);
    background-color: #ffdd4a;
    color: #222; }
  .btn:hover:before {
    opacity: 0; }
  .btn:active {
    background-color: #ddb61f; }
  .btn span {
    position: relative;
    z-index: 3; }

.call_btn {
  height: 40px;
  width: 160px;
  -webkit-border-radius: 19px;
  border-radius: 19px;
  border: 1px solid #000;
  color: #000;
  font-family: "GothamPro-Bold", sans-serif;
  font-size: 14px; }
  .call_btn:hover {
    background-color: #005aff;
    border: 1px solid #005aff;
    color: #fff; }
  .call_btn:active {
    background-color: #ceb44f;
    border: 1px solid #ceb44f; }

#sec_01 {
  padding: 35px 0 170px;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url(../img/sec_01-bg.png);
  background-color: #fadf77; }
  #sec_01 .navigation li {
    display: inline-block; }
    #sec_01 .navigation li a {
      display: block;
      color: #8c7d43;
      font-family: "GothamPro", sans-serif;
      font-size: 14px;
      line-height: 30px; }
    #sec_01 .navigation li:hover a {
      color: #222;
      font-family: "GothamPro-Bold", sans-serif; }
  #sec_01 .navigation li + li {
    margin-left: 23px; }
  #sec_01 .call_btn {
    float: right;
    margin-top: -5px; }
  #sec_01 .header {
    margin-bottom: 160px;
    position: relative; }
  #sec_01 .date_text, #sec_01 .street_text {
    font-size: 14px;
    line-height: 24px; }
  #sec_01 .beforeheader_text {
    font-size: 12px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 35px 0 15px;
    letter-spacing: .1em; }
  #sec_01 .header_text {
    position: relative;
    font-size: 90px;
    line-height: 36px;
    margin-bottom: 65px; }
    #sec_01 .header_text:before {
      content: "";
      position: absolute;
      height: 6px;
      width: 58px;
      bottom: -45px;
      left: 50%;
      margin-left: -29px;
      background-color: #222; }
  #sec_01 .afterheader_text {
    color: #000;
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 35px; }
  #sec_01 .btn {
    height: 40px;
    width: 160px;
    margin-left: auto;
    margin-right: auto; }
    #sec_01 .btn:hover {
      border: 1px solid #222;
      background-color: transparent; }
  #sec_01 .mobile {
    display: none; }

#nav {
  display: none;
  position: absolute;
  background-color: #fadf77;
  top: -23px;
  right: 0;
  width: 60px;
  height: 60px;
  z-index: 100;
  text-align: center;
  color: #222;
  overflow: hidden !important;
  -webkit-transition: width 1s, height .7s;
  transition: width 1s, height .7s; }
  #nav #menu {
    z-index: 102; }
  #nav a:hover {
    color: #005aff; }
  #nav li {
    width: 100%;
    line-height: 50px;
    height: 50px;
    font-family: "GothamPro-Bold", sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase; }
    #nav li a {
      color: #222;
      opacity: 0;
      display: 0; }
  #nav li + li {
    margin-top: 20px; }
  #nav .inner {
    margin: 0 auto;
    opacity: 0;
    display: 0;
    overflow-y: hidden; }
  #nav .contacts {
    margin-top: 200px; }
    #nav .contacts .link_block {
      margin: 0 20px; }

.contacts .contacts_title {
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 40px;
  display: block; }

.contacts svg {
  width: 15px;
  fill: #005aff; }

.contacts .link_block {
  vertical-align: top;
  position: relative;
  display: inline-block;
  padding-left: 30px;
  text-align: left;
  cursor: pointer; }
  .contacts .link_block .icon {
    position: absolute;
    left: 0;
    top: 2px; }

.contacts .title_link {
  color: #222;
  font-family: "GothamPro-Bold", sans-serif;
  font-size: 14px;
  line-height: 24px; }

.contacts .text_link {
  color: #222; }

#nav.open {
  top: 0;
  position: fixed;
  overflow-y: scroll !important;
  width: 100%;
  height: 100vh;
  background-color: #fadf77;
  padding-top: 20px; }
  #nav.open li {
    width: 100%; }
    #nav.open li a {
      opacity: 1;
      display: inline-block; }
  #nav.open .inner {
    opacity: 1;
    display: block;
    margin-left: 10px; }

#nav .svg {
  width: 60px;
  height: 60px;
  cursor: pointer;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

#nav .path {
  fill: none;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  stroke-width: 30px;
  stroke-linecap: round;
  stroke: #222;
  stroke-dashoffset: 0px; }

path#top,
path#bottom {
  stroke-dasharray: 240px 950px; }

path#middle {
  stroke-dasharray: 240px 240px; }

.cross path#top,
.cross path#bottom {
  stroke-dashoffset: -650px;
  stroke-dashoffset: -650px; }

.cross path#middle {
  stroke-dashoffset: -115px;
  stroke-dasharray: 1px 220px; }

@media (min-width: 768px) and (max-width: 991px) {
  #nav {
    display: block; }
  #sec_01 {
    background-image: none; }
    #sec_01 .navigation, #sec_01 .desctop {
      display: none; }
    #sec_01 .mobile {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      float: left; }
    #sec_01 .logo {
      float: left;
      margin-right: 40px; }
    #sec_01 .header .col-2 {
      width: 100%; } }

@media (max-width: 767px) {
  #nav {
    display: block;
    overflow-y: scroll; }
    #nav .contacts {
      margin-top: 40px; }
      #nav .contacts .link_block {
        display: block;
        margin: 20px auto;
        text-align: center;
        max-width: 180px; }
  #sec_01 {
    background-image: none;
    padding-bottom: 100px;
    padding-top: 30px !important; }
    #sec_01 .navigation, #sec_01 .desctop {
      display: none; }
    #sec_01 .header_text {
      font-size: 50px;
      line-height: 58px; }
    #sec_01 .mobile {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      float: left; }
    #sec_01 .logo {
      float: left;
      margin-right: 40px; }
    #sec_01 .header {
      margin-bottom: 60px; } }

@media (max-width: 400px) {
  #sec_01 .call_btn {
    display: none; }
  #sec_01 .header_text {
    font-size: 40px;
    line-height: 48px; } }
