body {
  position: relative;
  font: 18px/24px "Geometria", sans-serif;
  color: #909090;
  background-color: #fff; }

body.unscroll {
  overflow: hidden; }

.md-modal.md-show {
  opacity: 1; }

.md-modal {
  opacity: 0; }

.hidden {
  height: 0;
  width: 0; }

.bar-long {
  height: 5px;
  width: 0;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background: #005aff; }

.btn {
  width: 300px;
  height: 60px;
  background-color: #005aff;
  color: #000;
  font: 20px "Geometria", sans-serif;
  text-transform: uppercase; }

.btn:hover {
  background-color: #ffec3d; }

.btn:active {
  background-color: #edcc00; }
