@import url(../libs/niftymodal/component.css);
@import url(../libs/lightbox2/lightbox.min.css);
@import url(../libs/slick/slick.min.css);
#sec_02 {
  padding: 150px 0 125px; }
  #sec_02 .first_title {
    margin: 50px 0 15px; }
  #sec_02 .text_afterheader {
    color: #555;
    font-size: 18px;
    line-height: 24px; }
  #sec_02 .separator {
    margin-bottom: 15px; }
  #sec_02 .first_row {
    margin-bottom: 90px; }
    #sec_02 .first_row .text {
      line-height: 24px; }
  #sec_02 .item .title {
    margin-top: 23px;
    margin-bottom: 10px; }

#sec_03 {
  padding: 150px 0 145px;
  background-color: #f8f8f8; }
  #sec_03 .separator {
    margin-bottom: 75px; }
  #sec_03 .item {
    position: relative;
    padding-left: 96px; }
    #sec_03 .item .img_wrap {
      width: 68px;
      height: 68px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      left: 0;
      top: 0;
      background: #fff;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #sec_03 .item .img_wrap svg {
        fill: #005aff;
        width: 34px; }
    #sec_03 .item .title {
      margin-bottom: 8px; }
  #sec_03 .item_row + .item_row {
    margin-top: 50px; }

#sec_04 {
  padding: 150px 0 145px;
  background-color: #fadf77;
  background-repeat: no-repeat;
  background-position: top 120px center;
  background-image: url(../img/sec_04-dots.png); }
  #sec_04 h2 {
    margin-top: 50px; }
  #sec_04 .separator {
    margin-bottom: 25px; }
  #sec_04 .info_list li {
    color: #555;
    font-size: 18px;
    line-height: 24px; }
    #sec_04 .info_list li span {
      margin-left: 15px;
      font-size: 16px; }
  #sec_04 .info_list li + li {
    margin-top: 10px; }

#sec_05 {
  padding: 140px 0;
  background-color: #f8f8f8; }
  #sec_05 .separator {
    margin-bottom: 15px; }
  #sec_05 .text_afterheader {
    color: #555;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 45px; }
  #sec_05 .coaches_hidden {
    display: none; }
  #sec_05 .more_coaches {
    color: #005aff;
    cursor: pointer;
    font-family: "GothamPro-Bold", sans-serif;
    font-size: 14px;
    line-height: 36px;
    text-decoration: underline;
    margin-top: 30px;
    display: inline-block;
    position: relative;
    z-index: 10; }
    #sec_05 .more_coaches:hover {
      color: #222; }

.coach_item {
  position: relative;
  cursor: default;
  background-color: #FFF;
  padding-left: 165px;
  padding-top: 60px;
  padding-right: 60px;
  min-height: 200px;
  margin-top: 30px; }
  .coach_item .coach_img {
    position: absolute;
    left: 60px;
    top: 60px;
    width: 80px;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .coach_item .coach_name {
    margin-bottom: 10px; }
  .coach_item .coach_more {
    opacity: 0;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    text-align: left;
    position: absolute;
    background-color: #fff;
    margin-left: 165px;
    top: 0;
    left: 0;
    z-index: 2;
    width: 390px;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: left;
    -webkit-align-items: left;
    -ms-flex-align: left;
    align-items: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px 40px 20px 0; }
    .coach_item .coach_more .more_title {
      margin-bottom: 5px; }
    .coach_item .coach_more .btn {
      width: 260px;
      margin-top: 20px; }
  .coach_item:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s; }
    .coach_item:hover .coach_more {
      opacity: 1; }

#sec_06 {
  padding: 145px 0;
  background-color: #fadf77; }
  #sec_06 h2 {
    margin-top: 20px;
    display: inline-block; }
  #sec_06 .text {
    color: #000;
    font-size: 18px;
    line-height: 24px; }
  #sec_06 .btn {
    margin-top: 23px;
    height: 40px;
    width: 259px; }

#sec_07 {
  padding: 145px 0 220px; }
  #sec_07 .separator {
    margin-bottom: 60px; }
  #sec_07 [class*='slider_img-'] {
    display: inline-block;
    vertical-align: top;
    margin: 15px; }
    #sec_07 [class*='slider_img-']:hover {
      -webkit-box-shadow: 0px 0px 20px #005aff;
      box-shadow: 0px 0px 20px #005aff; }
  #sec_07 .slide {
    margin: 0 -15px; }
  #sec_07 .slide_block {
    width: 585px;
    display: inline-block;
    vertical-align: top; }
  #sec_07 .slide_block + .slide_block {
    margin-right: -30px;
    margin-left: 0; }
  #sec_07 .youtube {
    margin: 15px;
    height: 300px;
    width: 555px;
    background-image: url(../img/photos/youtube.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-transition: -webkit-box-shadow .4s;
    transition: -webkit-box-shadow .4s;
    transition: box-shadow .4s;
    transition: box-shadow .4s, -webkit-box-shadow .4s; }
    #sec_07 .youtube:hover {
      -webkit-box-shadow: 0px 0px 20px #005aff;
      box-shadow: 0px 0px 20px #005aff; }
  #sec_07 iframe {
    margin: 15px; }
  #sec_07 .slick-dots {
    bottom: -70px; }
  #sec_07 .slider_mobile {
    display: none; }

#sec_08 {
  background-color: #fadf77; }
  #sec_08 .col-6 {
    padding-top: 145px;
    padding-bottom: 145px; }
  #sec_08 .item {
    max-width: 460px;
    width: 100%;
    padding: 60px 20px 40px;
    text-align: center;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.06);
    background-color: #fff; }
    #sec_08 .item .title {
      color: #555;
      margin-bottom: 20px; }
    #sec_08 .item .text {
      line-height: 28px;
      font-size: 18px; }
    #sec_08 .item .text span {
      font-family: "Geometria-Bold", sans-serif; }
    #sec_08 .item .btn {
      max-width: 170px;
      margin: 20px auto; }
  #sec_08 .arrow {
    background-image: url(../img/sec_08-dots.png);
    background-position: center right;
    background-repeat: no-repeat; }
  #sec_08 h2 {
    margin-top: 55px;
    margin-bottom: 20px; }
  #sec_08 .text_afterheader {
    color: #222;
    font-size: 18px;
    line-height: 24px; }

#sec_09 {
  padding: 155px 0;
  background-color: #f8f8f8; }
  #sec_09 h2 {
    margin-top: 10px;
    margin-top: 40px; }
  #sec_09 .separator {
    margin-bottom: 55px; }
  #sec_09 .wrapper {
    max-width: 265px; }
  #sec_09 .slider_control p {
    font-family: "GothamPro-Bold", sans-serif;
    font-size: 24px;
    color: #000;
    text-align: center; }
    #sec_09 .slider_control p .slash {
      font-size: 18px; }
    #sec_09 .slider_control p .max {
      font-size: 14px; }
  #sec_09 .slick-dots {
    bottom: -35px; }
  #sec_09 .slider_testimonial .slide {
    text-align: center;
    padding: 0 75px 55px;
    background-color: #fff;
    margin-top: 30px; }
    #sec_09 .slider_testimonial .slide img {
      display: inline-block;
      margin-bottom: 20px;
      margin-top: -30px; }
    #sec_09 .slider_testimonial .slide .name {
      font-size: 18px;
      margin-bottom: 22px; }
    #sec_09 .slider_testimonial .slide .prof {
      font-size: 14px; }
    #sec_09 .slider_testimonial .slide .text {
      line-height: 24px; }
  #sec_09 .slider_testimonial:before {
    position: absolute;
    content: '';
    width: 75px;
    height: 51px;
    left: -32px;
    top: 0px;
    background: url(../img/quotes.png) center no-repeat; }

#sec_10 {
  padding: 135px 0 145px; }
  #sec_10 .separator {
    margin-bottom: 25px; }
  #sec_10 .text_afterheader {
    color: #555;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 70px; }
  #sec_10 .text_info {
    margin-top: 90px; }

.course {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.06);
  background-color: #f8f8f8;
  text-align: center;
  padding: 55px 20px 1px; }
  .course .course_title {
    font-size: 18px;
    margin-bottom: 10px; }
  .course .separator_small {
    margin-bottom: 20px; }
  .course .course_list {
    font-size: 14px; }
    .course .course_list li {
      position: relative;
      color: #555;
      font-family: "Geometria-Bold", sans-serif;
      font-size: 14px;
      line-height: 18px; }
      .course .course_list li span {
        color: #9c9c9c;
        font-family: "Geometria", sans-serif; }
      .course .course_list li:before {
        position: absolute;
        content: '';
        width: 184px;
        height: 1px;
        left: 50%;
        margin-left: -92px;
        bottom: -18px;
        background-color: #e9e9e9; }
    .course .course_list li + li {
      margin-top: 33px; }
    .course .course_list .closed {
      opacity: .15; }
  .course .course_list + .separator_small {
    margin-top: 45px;
    margin-bottom: 10px; }
  .course .price {
    font-size: 18px;
    margin-bottom: 20px; }
    .course .price span {
      font-size: 14px; }
  .course .btn {
    width: 167px;
    margin: 0 auto -21px; }

.course.long_course .course_list + .separator_small {
  margin-top: 25px;
  margin-bottom: 10px; }

#sec_11 {
  padding: 150px 0 150px;
  background-color: #f8f8f8; }
  #sec_11 .col-7 {
    position: relative; }
  #sec_11 .sec_img {
    position: absolute;
    left: 272px;
    top: 27px; }
  #sec_11 .form_item {
    background-color: #fff;
    padding: 65px 65px 75px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.06);
    text-align: center; }
    #sec_11 .form_item .form_title {
      margin-bottom: 5px; }
    #sec_11 .form_item .text {
      margin-bottom: 10px; }
    #sec_11 .form_item .btn {
      width: 168px;
      margin-top: 30px; }
  #sec_11 h2 {
    margin-top: 115px; }
  #sec_11 .separator {
    margin-bottom: 20px; }
  #sec_11 .text_afterheader {
    color: #555;
    font-size: 18px;
    line-height: 24px; }

#footer {
  padding: 145px 0 100px;
  background-color: #393939;
  color: #fff; }
  #footer .field:before {
    background-color: #464646; }
  #footer .footer_text {
    opacity: 0.39;
    font-size: 14px;
    line-height: 18px;
    margin-top: 50px; }
  #footer .footer_navigation {
    font-size: 14px; }
    #footer .footer_navigation li + li {
      margin-top: 9px; }
  #footer a {
    color: #fff; }
    #footer a:hover {
      color: #005aff; }
  #footer .link_block .title_link {
    color: #005aff;
    -webkit-transition: color .4s;
    transition: color .4s; }
  #footer .link_block .text_link {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    -webkit-transition: color .4s;
    transition: color .4s; }
  #footer .link_block:hover .title_link {
    color: #fff; }
  #footer .link_block:hover .text_link {
    color: #005aff; }
  #footer .link_block + .link_block {
    margin-top: 22px; }
  #footer .social {
    display: block;
    margin-top: 33px; }
    #footer .social svg {
      fill: #fff;
      width: 20px; }
    #footer .social:hover svg {
      fill: #005aff; }
  #footer .footer_form_title {
    color: #fff; }
  #footer .btn_footer {
    margin-top: 25px;
    height: 40px;
    width: 160px;
    -webkit-border-radius: 19px;
    border-radius: 19px;
    border: 1px solid #005afe;
    background-color: transparent;
    font: 14px "GothamPro-Bold", sans-serif;
    text-align: center;
    letter-spacing: .05em;
    color: #005aff; }
    #footer .btn_footer span {
      margin-top: 2px;
      display: inline-block; }
    #footer .btn_footer:hover {
      background-color: #005aff;
      color: #fff; }
    #footer .btn_footer:active {
      background-color: #000; }
  #footer .mobile {
    display: none; }

footer {
  padding: 5px 0;
  background-color: #202020; }
  footer .politics {
    margin-top: 17px; }
    footer .politics a {
      color: #65666a;
      font-size: 14px; }
    footer .politics a:hover {
      color: #005aff; }
    footer .politics a + a {
      margin-left: 10px; }
  footer .logo_rezart {
    margin-top: 5px;
    margin-left: 25px;
    width: 80px;
    float: right; }

/* ================================*/
/* CURSOR STYLES*/
.touch_mode_grab {
  cursor: grab !important;
  cursor: -webkit-grab !important; }

.touch_mode_grabbing {
  cursor: grabbing !important;
  cursor: -webkit-grabbing !important; }

/* ==========================*/
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3); }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #005aff;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: #005aff; }

.hidden {
  height: 0;
  width: 0; }

#modal_callback h2 {
  margin: 30px 30px 30px; }

div[id*="modal_coach-"] {
  min-width: 700px; }
  div[id*="modal_coach-"] .coach_img {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 20px; }
  div[id*="modal_coach-"] .coach_name {
    font-size: 22px;
    margin-bottom: 18px; }
  div[id*="modal_coach-"] .text {
    color: #000;
    font-size: 20px;
    margin-bottom: 30px; }
  div[id*="modal_coach-"] .biography {
    color: #000; }
  div[id*="modal_coach-"] .md-content {
    max-height: 80vh;
    padding: 40px 30px 20px;
    background: #fff;
    background-size: cover;
    text-align: center;
    overflow-y: scroll; }

div[id*="modal_callback"] {
  max-width: 500px;
  max-height: 98vh;
  overflow-y: scroll; }
  div[id*="modal_callback"] h2 {
    font-size: 29px;
    line-height: 36px;
    margin: 30px 30px 0px; }
  div[id*="modal_callback"] .h2_desc {
    margin-bottom: 25px; }
  div[id*="modal_callback"] .md-content {
    padding: 20px;
    background: #fff;
    background-size: cover;
    text-align: center; }
  div[id*="modal_callback"] .form-wrap {
    display: block; }
  div[id*="modal_callback"] .field {
    max-width: 360px;
    width: 100%;
    margin: 0 auto; }
    div[id*="modal_callback"] .field input {
      width: 100%; }
  div[id*="modal_callback"] .field + .field {
    margin-top: 15px; }
  div[id*="modal_callback"] .btn {
    margin: 25px auto 30px;
    max-width: 300px;
    width: 100%; }

.field {
  position: relative;
  display: inline-block; }

div[id*="modal_politics"] {
  text-align: center; }
  div[id*="modal_politics"] h2 {
    padding-top: 50px; }

.md_large {
  max-width: 100%;
  width: 90%; }

.md_large .md-content > div.md_content {
  padding: 0px 40px 0px; }

.md_large .md-content p {
  font-size: 0.9em;
  line-height: 1.4; }

.md_large .md-content p:first-child {
  padding-top: 24px; }

.md_large .md-content p:last-child {
  padding-bottom: 24px; }

.md_large .md_content {
  max-height: 680px;
  overflow: auto;
  padding-top: 24px; }

.md_content:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 24px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, white, rgba(255, 255, 255, 0));
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
  background-repeat: repeat-x; }

.md_content:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 24px;
  bottom: 0;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0)), to(white));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), white);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
  background-repeat: repeat-x; }

.md-content h2 {
  text-align: center; }

.md_bottom {
  padding: 12px 0 0 0; }

.md-content .form_input {
  width: 45%; }

.form_icon {
  position: absolute;
  width: 40px;
  color: #cfcfcf; }

.form_icon i {
  font-size: 18px;
  line-height: 54px; }

.allert, .allert_tell {
  position: absolute;
  z-index: 20;
  top: 50%;
  margin-top: -10px;
  display: block;
  right: 15px;
  height: 20px;
  width: 20px;
  color: #FF6565;
  cursor: default; }

.allert:hover, .allert_tell:hover {
  text-decoration: none; }

.allert span, .allert_tell span {
  display: none;
  opacity: 0;
  padding: 5px;
  margin-left: 5px;
  line-height: 14px;
  color: #000;
  font-style: italic;
  font-size: 13px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 140px;
  text-align: center; }

.allert:hover span, .allert_tell:hover span {
  border: 1px solid #FF6565;
  background: #fff;
  display: inline;
  position: absolute;
  color: #4e4e4e;
  right: 24px;
  top: -3px;
  opacity: 1; }

.btn_close_modal {
  position: absolute;
  right: 10px;
  z-index: 10;
  top: 10px;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  margin: 0 auto 20px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }
  .btn_close_modal svg {
    width: 40px; }
  .btn_close_modal a {
    color: #000;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .btn_close_modal a svg .a {
      -webkit-transition: all .3s;
      transition: all .3s;
      fill: #d4d4d4; }
  .btn_close_modal a:hover {
    color: #000; }
    .btn_close_modal a:hover svg .a {
      fill: #005aff; }

.t_small {
  font-size: 14px; }

.slick-dots {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center; }

.slick-dots li {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li.slick-active button {
  background: #005aff; }

.slick-dots li button {
  height: 6px;
  width: 6px;
  background-color: #d5d5d5;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  line-height: 0;
  outline: medium none;
  padding: 2px; }

.slick-next {
  z-index: 10;
  right: 0;
  background: url(../img/slick-next.png) top center no-repeat; }
  .slick-next:hover:before {
    opacity: 1; }
  .slick-next:before {
    opacity: 0;
    -webkit-transition: .4s;
    transition: .4s;
    position: absolute;
    z-index: 2;
    content: '';
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: url(../img/slick-next-hover.png) center no-repeat; }

.slick-prev {
  background: url(../img/slick-prev.png) top center no-repeat;
  z-index: 10;
  left: 0; }
  .slick-prev:hover:before {
    opacity: 1; }
  .slick-prev:before {
    opacity: 0;
    -webkit-transition: .4s;
    transition: .4s;
    position: absolute;
    z-index: 2;
    content: '';
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: url(../img/slick-prev-hover.png) center no-repeat; }

.slick-next, .slick-prev {
  position: absolute;
  display: block;
  cursor: pointer !important;
  width: 33px;
  height: 16px;
  border: none;
  outline: none;
  top: 5px; }

.slick-slide {
  outline: none; }

.field {
  position: relative;
  display: block; }
  .field input {
    padding: 15px 0;
    width: 100%;
    background-color: transparent;
    color: #000;
    font: 18px/20px "Geometria", sans-serif; }
  .field textarea {
    padding: 25px 0;
    width: 100%;
    color: #000;
    background-color: transparent;
    font: 18px/20px "Geometria", sans-serif; }

.field:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #f0f0f0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }

.bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #005aff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }

input:active + .bar, input:focus + .bar,
textarea:active + .bar, textarea:focus + .bar {
  width: 100%; }

.field + .field {
  margin-top: 7px; }

select {
  padding: 15px 0;
  width: 100%;
  background-color: transparent;
  color: #9F9F9F;
  font: 16px/24px "Geometria", sans-serif;
  border: none;
  outline: none; }

input::-webkit-input-placeholder {
  color: #9F9F9F;
  font: 16px/24px "Geometria", sans-serif; }

input:-moz-placeholder {
  color: #9F9F9F;
  font: 16px/24px "Geometria", sans-serif; }

input::-moz-placeholder {
  color: #9F9F9F;
  font: 16px/24px "Geometria", sans-serif; }

input:-ms-input-placeholder {
  color: #9F9F9F;
  font: 16px/24px "Geometria", sans-serif; }

textarea::-webkit-input-placeholder {
  color: #9F9F9F;
  font: 16px/24px "Geometria", sans-serif; }

textarea:-moz-placeholder {
  color: #9F9F9F;
  font: 16px/24px "Geometria", sans-serif; }

textarea::-moz-placeholder {
  color: #9F9F9F;
  font: 16px/24px "Geometria", sans-serif; }

textarea:-ms-input-placeholder {
  color: #9F9F9F;
  font: 16px/24px "Geometria", sans-serif; }

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: 28px;
    line-height: 34px; }
    h2 br {
      display: none; }
  #sec_02 {
    padding-bottom: 100px; }
    #sec_02 .first_title {
      margin-top: 0; }
    #sec_02 .sec_img-1 {
      width: 100%; }
  #sec_03 {
    padding: 120px 0; }
    #sec_03 br {
      display: none; }
    #sec_03 .item {
      padding-left: 60px; }
      #sec_03 .item .img_wrap {
        width: 50px;
        height: 50px; }
        #sec_03 .item .img_wrap svg {
          width: 28px; }
  #sec_04 {
    padding: 100px 0;
    background-image: none;
    text-align: center; }
    #sec_04 h2 {
      margin-top: 0; }
    #sec_04 .sec_img {
      width: 100%; }
    #sec_04 .col-6 {
      width: 100%; }
    #sec_04 .col-6 + .col-6 {
      display: none; }
  #sec_05 br {
    display: none; }
  .coach_item {
    padding-top: 30px;
    min-height: 220px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 130px; }
    .coach_item .coach_img {
      left: 30px; }
    .coach_item .coach_more {
      width: 220px;
      margin-left: 130px;
      padding-right: 20px; }
      .coach_item .coach_more .btn {
        width: 100%; }
  #sec_07 .slide_block {
    display: block;
    margin: 0 auto !important; }
  #sec_08 .text_afterheader br {
    display: none; }
  #sec_09 h2 br {
    display: none; }
  #sec_10 {
    padding: 100px 0; }
  .course {
    padding: 25px 10px 1px; }
    .course .course_list li:before {
      width: 100px;
      margin-left: -50px;
      bottom: -10px; }
    .course .course_list li + li {
      margin-top: 20px; }
    .course .course_list + .separator_small {
      margin-top: 62px; }
    .course .btn {
      width: 120px; }
  #sec_11 {
    padding: 100px 0; }
    #sec_11 [class*='col-'] {
      width: 50%; }
    #sec_11 h2 {
      margin-top: 0; }
    #sec_11 .sec_img {
      position: static;
      width: 100%;
      margin-top: 30px; }
  #footer .footer_text {
    font-size: 13px; }
    #footer .footer_text br {
      display: none; }
  footer .politics a {
    font-size: 13px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  #sec_02 {
    padding-bottom: 100px; }
    #sec_02 .sec_img-1 {
      width: 100%; }
  #sec_03 {
    padding: 120px 0; }
    #sec_03 br {
      display: none; }
  #sec_04 .sec_img {
    width: 100%; }
  #sec_05 br {
    display: none; }
  .coach_item {
    padding-top: 40px; }
    .coach_item .coach_more {
      width: 290px; }
  #sec_07 .slide_block {
    display: block;
    margin: 0 auto !important; }
  #sec_08 .text_afterheader br {
    display: none; }
  #sec_09 h2 br {
    display: none; }
  #sec_11 .sec_img {
    width: 400px; } }

@media screen and (max-height: 800px) {
  .md_large .md_content {
    max-height: 320px; } }

@media (max-width: 767px) {
  [class*='col-'] {
    width: 100%; }
  h2 {
    font-size: 28px;
    line-height: 34px; }
    h2 br {
      display: none; }
  [id*='sec_'] {
    padding: 100px 0 !important; }
  .arrow-right:before {
    display: none; }
  #sec_02 {
    padding-bottom: 100px; }
    #sec_02 .first_title {
      margin-top: 0; }
    #sec_02 .sec_img-1 {
      display: none; }
    #sec_02 .item {
      margin-top: 40px; }
  #sec_03 br {
    display: none; }
  #sec_03 .item {
    max-width: 400px;
    margin: 20px auto; }
  #sec_03 .item_row + .item_row {
    margin-top: 0px; }
  #sec_04 {
    background-image: none;
    text-align: center; }
    #sec_04 h2 {
      margin-top: 0; }
    #sec_04 .sec_img {
      display: none; }
  #sec_05 br {
    display: none; }
  .coach_item {
    padding-top: 30px;
    min-height: 170px;
    padding-bottom: 40px;
    padding-right: 30px;
    padding-left: 130px;
    max-width: 555px;
    margin: 30px auto 0; }
    .coach_item .coach_img {
      left: 30px;
      top: 30px; }
    .coach_item .coach_more {
      width: 100%;
      margin-left: 0px;
      padding: 30px;
      text-align: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .coach_item .coach_more .btn {
        width: 100%;
        max-width: 220px; }
  #sec_06 br {
    display: block; }
  #sec_06 h2 {
    margin-bottom: 30px; }
  #sec_08 .col-6 {
    padding-top: 0;
    padding-bottom: 0;
    background: none; }
  #sec_08 .arrow {
    background-image: none; }
  #sec_08 .item {
    margin: 0 auto; }
  #sec_07 .slide_block {
    display: block;
    margin: 0 auto !important; }
  #sec_08 .text_afterheader br {
    display: none; }
  #sec_09 {
    text-align: center; }
    #sec_09 h2 br {
      display: none; }
    #sec_09 .wrapper {
      margin: 0 auto 50px; }
  #sec_10 {
    padding: 100px 0; }
    #sec_10 .text_info {
      margin-top: 0; }
  .course {
    max-width: 300px;
    width: 100%;
    margin: 0 auto 80px; }
  #sec_11 {
    padding: 100px 0;
    text-align: center; }
    #sec_11 h2 {
      margin-top: 0; }
    #sec_11 .sec_img {
      display: none; }
    #sec_11 .form_item {
      margin-top: 40px; }
  #footer {
    padding: 80px 0; }
    #footer .desctop {
      display: none; }
    #footer .mobile {
      display: block; }
    #footer .mobile + .mobile {
      margin-top: 80px; }
    #footer [class*='col-'] {
      width: 50%; }
    #footer .footer_text {
      font-size: 13px; }
      #footer .footer_text br {
        display: none; }
  footer {
    text-align: center; }
    footer .politics a {
      font-size: 14px;
      display: block;
      text-align: center; }
    footer .politics a + a {
      margin-left: 0; }
    footer .logo_rezart {
      display: inline-block;
      float: none;
      margin-top: 20px; }
  div[id*="modal_coach-"] {
    min-width: 600px; }
  div[id*="modal_callback"] {
    min-width: 500px; }
    div[id*="modal_callback"] .md-content {
      padding: 35px;
      background: #fff; }
    div[id*="modal_callback"] h2 {
      margin: 30px 0;
      line-height: 34px; }
    div[id*="modal_callback"] form {
      display: block;
      max-width: 390px;
      margin: 0 auto;
      width: 100%; }
    div[id*="modal_callback"] .field {
      max-width: 360px;
      width: 100%; }
    div[id*="modal_callback"] .field + .field {
      margin-top: 15px; }
    div[id*="modal_callback"] .btn {
      margin: 25px auto 0; }
  div[id*='modal_politics'] h2 {
    padding-top: 70px; }
  div[id*='modal_politics'] .btn_close_modal {
    top: 20px; } }

@media (max-width: 620px) {
  div[id*="modal_callback"], div[id*="modal_coach-"] {
    min-width: 400px; }
  #sec_07 [class*='slider_img-'] {
    display: block;
    margin: 0 auto !important;
    float: none !important;
    max-width: 90%; }
  #sec_07 .slider {
    display: none; }
  #sec_07 .slider_mobile {
    display: block; }
    #sec_07 .slider_mobile a {
      display: block; }
  #sec_07 .youtube {
    width: 90%;
    float: none;
    height: 260px;
    margin: 0 auto; }
  #sec_07 iframe {
    display: block;
    margin: 0 auto; }
  #sec_07 .slick-next, #sec_07 .slick-prev {
    top: -40px; } }

@media (max-width: 400px) {
  div[id*="modal_callback"], div[id*="modal_coach-"] {
    min-width: 100%; }
  #footer {
    text-align: center;
    padding: 60px 0; }
    #footer .desctop {
      display: block; }
    #footer .mobile {
      display: none; }
    #footer [class*='col-'] {
      width: 100%;
      margin-top: 50px; }
    #footer .link_block {
      display: inline-block;
      margin: 0px 40px 20px; }
    #footer .footer_text br {
      display: none; } }
